

#container {
	width: 800px;
	height: 300px;
	margin: 10px;
	background-color: lightyellow;
}



#p1 {
	font-family: Arial;
	font-size: 9px;
	font-weight: 50;
	color: gray;
}


body {
	marin: auto;
}


h3, h4 {
	text-align: center;
}

p {
	/*font-family: Arial;*/
	font-size: 15px;
	font-weight: 60;
	color: black;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 7px;
}

tr td {
	text-align: center;
}

td {
	/*min-width: 40px;*/
}

#preinput {
	border: 1px solid gray;
	margin: auto;
	background-color: #f3e3dc;
}


#input {
	border: 1px solid gray;
	margin: auto;
	margin-top: 5px;
	background-color: #f3e3dc;
}

.row{
	border: 0px solid gray;
	height: auto;
	overflow: auto;
	width: 1000px;
	margin: auto;
}

#output {
	border: 1px solid gray;
	float: left;
	background-color: #f3e3dc;
}

#viz2D {
	border: 0px solid gray;
	float: right;
	width: 740px;
	height: 500px;
	margin: 0px;
	background-color: white;
	display: none;
}

#viz3D {
	border: 0px solid gray;
	float: right;
	width: 740px;
	height: 500px;
	margin: 0px;
	background-color: white;
	display: none;
}

#reference {
	width: 100%;
}

#ref_1, #ref_2 {
	font-size: 16px;
	color: black;
	text-align: center;
	margin: auto;
	/*border-collapse:collapse;*/
	border: 0px solid gray;
}

#preinput td, #input td, #output td, #preinput th, #input th, #output th {
	font-size: 15px;
}

#ref_1 tr, #ref_2 tr {
	background-color: #e3e3e3;
}

#ref_1 td, #ref_2 td {
	padding-left: 5px;
	padding-right: 5px;
}

#ref_1 thead {
	display: none;
}

.invisible {
	visibility: hidden;
}

.nodisplay {
	display: none;
}

#status {
	font-size: 15px;
	color: orange;
}

#S, #K, #T, #v, #r, #q, #Smin, #Kmin, #Tmin, #vmin, #rmin, #qmin, #Smax, #Kmax, #Tmax, #vmax, #rmax, #qmax {
	width: 70px;
}

#slider_S, #slider_K, #slider_T, #slider_v, #slider_r, #slider_q {
	width: 150px;
}

th {
	/*background-color:green;*/
}

#preinput .variable {
	width: 110px;
}

#preinput .value {
	width: 60px;
}


#input .x, #input .y {
	width: 10px;
}

#input .variable {
	width: 70px;
}

#input .symbol {
	width: 20px;
}

#input .current, #input .min, #input .max {
	width: 60px;
}

#input .equal {
	width: 10px;
}

#input .transition {
	width: 50px;
}

#output .z_2D, #output .z_3D, #output .scale {
	width: 20px;
}

#output .symbol {
	width: 55px;
}

#output .current {
	width: 70px;
}

